    body {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: white;
        margin: 0px;
        padding: 0px;
        height: 100px;

    }

    body {
        background-image: url(young-fitness-man-studio_7502-5004.avif);

    }


    .left {
        /*  border: 3px solid rgba(224, 220, 214, 0.082);*/
        display: inline-block;
        position: absolute;
        left: 60px;
        top: 20px;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        font-size: 1px;         
    }
    .img1{
        width: auto;
        height: 90px;
    }
   

    .center {
         border: 3px solid gray;
        display: block;
        width: 40%;
        height: auto;
        border-radius: 20%;
        margin: 30px auto;        
        text-align: center;
        font-size: 5px;

    }

    .right {
        /* border: 3px solid rgba(215, 215, 208, 0);*/
        display: inline-block;
        position: absolute;
        right: 35px;
        top: 45px;
    }

    .bottom {
        /*  border: 3px solid rgba(230, 230, 5, 0.845);*/
        display: inline-block;
        width: 100%;
        margin: 100px 5px auto;
        text-align: center;
        margin-top: 1200px;
        background-color: #8a3592d9;
    }

    .bottom h2 {
        font-family: 'Times New Roman', Times, serif;
        font-weight: 90px;
        font-size: 50px;
    }

    .bottom h3 {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: lighter;
        font-size: smaller;
        font-size: 30px;
    }

    .left img {
        width: 140px
    }

    .left div {
        line-height: 20px;
        font-size: 25px;
        text-align: center;
        margin: 30px auto;
        color: gray;
    }

    .navbar {
        display: inline-block;

    }
    .navbar li {
        display: inline-block;
        font-size: 25px;
    }

    .navbar li a {
        color: rgb(228, 194, 27);
        text-decoration: none;
        padding: 35px 25px;
    }

    .navbar li a:hover {
        text-decoration: none;
        color: rgb(201, 42, 42);
    }

    .navbar li a:active {
        text-decoration: none;
        color: rgb(14, 67, 111);

    }

    .btn {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0px 10px;
        background-color: rgba(204, 179, 13, 0.422);
        color: rgb(187, 199, 195);

        padding: 10px 15px;
        border: 2px solid gray;
        border-radius: 10px;
        font-size: 20px;
        cursor: pointer;

    }

    .btn:hover {
        background-color: gray;
    }

    .btn1 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: rgba(204, 179, 13, 0.422);
        border: 2px solid gray;
        border-radius: 10px;
        font-size: 30px;
        cursor: pointer;
        margin-top: 30px;
        display: block;
        width: 200px;
        margin-left: 650px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 700;
    }

    .btn1:hover {
        background-color: gray;
    }

    .container {
        margin-top: 400px;
    }

    .container .fgroup {
        text-align: center;
        height: 100p;

    }

    .container h1 {
        text-align: center;
        font-size: 70px;
        color: rgb(101, 87, 7);
        font-family: 'Times New Roman', Times, serif;

    }


    .fgroup input {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        display: block;
        width: 500px;
        padding: 10px;
        padding-top: 10px;
        margin-top: 10px;
        margin-left: 500px;
        font-size: 20px;
        border-radius: 40px;
        height: 30px;

    }

    .fgroup :hover {
        cursor: pointer;
        background-color: rgb(18, 116, 116);
    }

    .container2 {
        margin-top: 90px;
        margin-left: 540px;
        width: 30%;
        border-radius: 20px;
        background-color: #352c1ad9;
    }

    .container2 h1 {
        text-align: center;
        font-size: 35px;
        font-style: italic;
        font-weight: 100;
    }



    .box .sub1 {
        display: grid;
        width: 1100px;
        grid-template-columns: 120px 120px 120px;
        align-items: start;
        justify-content: space-between;
        margin-top: 100px;
        margin-left: 10px;
    }

    .sub1 h2 {
        display: block;
        width: 330px;
        height: 100px;
        padding: 50px;
        color: #ac801fd9;
        background-image: url(firefox.png), url(bubbles.png), linear-gradient(to right, rgb(50, 121, 184), rgba(255, 255, 255, 0));
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: bottom right, left, right;
        border-radius: 25px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 900;
        margin-left: 30px;
        text-align: center;
    }

    .box .sub1 :hover {
        background-color: rgb(151, 91, 12);
        cursor: pointer;
    }